
  main h1{
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 40px;
}
main{
  font-family: Arial, sans-serif;
  min-height: 800px;
  height: 100vh;
  margin: 0;
}
   #calculator-container {
            text-align: center;
        }

        canvas {
            margin-top: 20px;
        }

        label {
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
        }

        button {
            padding: 10px;
            cursor: pointer;
        }

        #chart-container {
            display: flex;
            justify-content: space-around;
        }
